<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">FireBase Uploard Area</div>
  <div class="card-body">
    <h4 class="card-title">Uploard Now</h4>
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <br>
    <input type="file"  class="btn btn-primary" name="fileField"><br /><br />
    <button type="button" class="btn btn-primary">Uploard</button>
  </div>
</div>